.ye{
    margin-top: -50px;
    height: 270px;
    width:1910px;
    background-color:#3CB371	;
    color: white;
}
.yazi{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 470px;
    margin-top:-210px;
    color: white;
}
.oe{
    margin: auto;
    width: 850px;
    height: 980px;
    background-color: #fff;
    margin-left: 470px;
    margin-top: 60px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    color: #696969	;
    font-family: sans-serif;
}
.p{
    font-size: 25px;
    margin-top: 50px;
    padding:50px;
}
.ul{
    padding: 73px;
    margin-top: -90px;
    font-size: 18px;
}
